@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,600');

* {
  margin: 0;
  padding: 0;
}

*, :before, :after {
  box-sizing: border-box;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

div {
  display: block;
}

.fl { float: left; }
.fr { float: right; }
.mt10 { margin-top: 10px; }
.mb10 { margin-bottom: 10px; }

body, html {
  height: 100%;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #FFF;
  
  background: linear-gradient(to bottom, rgba(0,0,0, .6) 0%,rgba(0,0,0, .6) 100%), url('../img/Login_sawah.png') no-repeat top center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-container.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 375px;
  padding: 40px 40px;
}

.card {
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
}

.logo-img-card {
  display: block;
  margin: 0 auto 26px;
}

.form-signin input[type=text],
.form-signin input[type=password] {
  direction: ltr;
  height: 44px;
  outline: none;
  background-color: rgba(255,255,255, 0.8);
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #222;
}

.form-signin input[type=text],
.form-signin input[type=password],
.form-signin button {
  width: 100%;
  position: relative;
  display: block;
  padding: 10px;
  z-index: 1;
}

.icon-addon {
  position: relative;
  display: block;
}
.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}
.icon-addon:after {
  clear: both;
}
.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon {
  position: absolute;
  z-index: 2;
  left: 5px;
  font-size: 17px;
  color: #222;
  width: 20px;
  text-align: center;
  padding: 10px 0;
  top: 5px;
}
.icon-addon.addon-md input[type=text],
.icon-addon.addon-md input[type=password] {
  padding-left: 30px;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.checkbox label {
  font-size: 13px;
  font-weight: 600;
}

.checkbox, .fp {
  font-weight: 600;
  color: #CCC !important;
}

.btn.btn-signin {
  background-color: rgba(13,182,220, .6);
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 44px;
  border: none;
  border-radius: 0px !important;

  -o-transition: all .218s;
  -moz-transition: all .218s;
  -webkit-transition: all .218s;
  transition: .218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color: rgba(13,182,220, 1);
}